footer{
    background-color:rgb(20, 20, 20);
    color:white;
  }
  hr.light{
    border-top: 1px solid #d5d5d5;
    padding-top: .8rem;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  footer a {
    color: #d5d5d5;
  }
  
  hr.light-100{
    border-top: 1px solid #d5d5d5;
    padding-top: .8rem;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }